.nomad-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 1rem;
}

form {
  padding: 2rem;
  text-align: center;
  input[type='text'],
  input[type='email'],
  input[type='password'] {
    width: 60%;
  }

  .submit-btn {
    display: flex;
    justify-content: center;
  }

  .submit {
    width: 200px;
  }
}

.form-error {
  border: 1px solid red;
}

::placeholder {
  color: #606060;
  font-size: 16px;
}

#btn-white-outline {
  border: 1px solid grey;
  margin-bottom: 1rem;
}
#buy-it-now-btn {
  &:hover {
    background-color: #606060;
  }
}

@media (min-width: 1024px) {
  form {
    width: 60%;
    margin: 0 auto;

    input[type='text'],
    input[type='email'],
    input[type='password'] {
      width: 65%;
    }
  }
}

.error {
  border: 1px solid red;
}

.error-message {
  color: red;
  font-size: 1.5rem;
}
